
body {
  margin:0;
  height: 100%;
  padding:0px;
}

.navbar-links{
  float:right;
  text-align:right;
  color:white;
}

.navbar {
  background-color: #222;
  border-color: #080808;
  color:white;
}
.navbar-brand{
  font-family: 'Cabin Sketch', cursive;
  font-size: 20px;
  color:white;
}

.navbar-toggle .icon-bar{ background-color: #fff;}

.navbar-brand:hover{
  color:teal;
}

.navbar-nav a{
  color:white;
  font-weight:bold;
}

.navbar-nav a:hover{
  color:teal;
  background:transparent;
}

.navbar-nav li:hover{
  color:teal;
  background:blue;
}

.home-container {
  margin:0;
  height: 100%;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://farm5.staticflickr.com/4391/35548826983_8bebf21a4c_k.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://farm5.staticflickr.com/4391/35548826983_8bebf21a4c_k.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.home-social{
  padding:10px;
}

.title{
  padding-top:200px !important;
  text-shadow: 2px 2px 3px #000;
  color: rgba(255, 255, 255, 0.7);
}

.btn-lg {
  background-color:rgb(214, 214, 215);
  padding: 5px;
  margin: 5px 10px 5px 3px;
}

.btn-md {
  background-color:rgb(214, 214, 215);
  padding: 5px;
  margin: 5px 10px 5px 3px;
}


.about-container {
  height: 100%;
  margin:0;
  background-image:url("../images/about.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60% auto;
}


/*.headshot {
  float:right;
  border-radius:50%;
  width:20%;
}*/
#portfolio{
   background-color: #1b1b1b;
}
/*.portfolio-container{*/
#portfolio-container{
  margin:0;
  height: 100%;
}

.portfolio-header{
  padding:50px;
  margin: 0;
  font-family: "Lato", sans-serif;
  color: white;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding:0 10px 0 10px;
 }
.thumbnails{
  padding:20px;
}

.gallery {
  vertical-align: middle;
  width: 80%;
  height: auto;
  padding:20px;
  margin:0 auto;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    /*width: 100%;*/
    height: 30%;
    width:100%;

}

.thumbnail-desc {
    padding: 15px;
    text-align: center;
    border-top: 2px solid #ccc;
    font-weight:bold;
    background-color:gray;
    font-family: 'Cabin Sketch';
    color:black;
    font-size:18px;
}
/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  padding:0px;
  background-image: url("../images/shattered-island.gif");
  margin:0;
    position: relative;
  overflow: auto;
  /*height:100%;*/
}

.timeline h1{
  color: #0E7C7B;
  font-family: 'Roboto', sans-serif;
  font-size:3.25em;
  text-align: center;
  padding: 15px;
}

.timeline ul {
  padding: 10px 0;
}

/* vertical line */
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 25px;
  background: #fff;
  color: white;
  font-weight: bold;
}

.star {
  position: absolute;
  left: -16px;
  color:#0E7C7B;
}

/* li boxes */
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 350px;
  padding:15px;
  background-color:#0E7C7B;
  /*border-radius:5%;*/
}

/* padding between div boxes and timeline */
.timeline ul li:nth-child(odd) div {
  left: 75px;
}

/* padding between div boxes and timeline */
.timeline ul li:nth-child(even) div {
  left: -470px;
}

/* even time boxes */
.timeline ul li:nth-child(even) div time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  padding: 10px;
  border: solid white;
  width: 150px;
  float:right;
}

.timeline ul li:nth-child(even) h4 {
  padding-top: 5px;
}

.timeline ul li:nth-child(odd) div h4 {
  float:right;
}

.timeline ul li:nth-child(even) div h5 {
  margin-top:40px;
}

/* odd time boxes */
.timeline ul li:nth-child(odd) div time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  padding: 10px;
  border: solid white;
  width: 150px;
  float:left;
}


/* footer start */
.footer {
  padding: 20px;
}
.home-social:hover,
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .home-social,
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */

     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
.social {
  color:#0E7C7B;
}

 .social-instagram {
     background-color: #0E7C7B;
     color: white;
     border-radius:30%;
}
.footer a{
  padding:5px;
}




/* footer end */

–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 270px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
    margin-left:-5px;
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }

  .timeline ul li:nth-child(odd) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent white transparent transparent;
  }

  /* even time boxes */
  .timeline ul li:nth-child(even) div time {
    float:left;
  }

  .timeline ul li:nth-child(even) h4 {
    padding-top: 20px;
    float:right;
    margin-top:-5px;
  }
  .timeline ul li:nth-child(even) h5 {
    padding-top:15px;
  }
  .sabbatical-box p{
    /*spadding:20px;*/
    margin-top:40px;
  }
}

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
    .portfolio-header{
      padding:10px;
    }
    .about-container {
    background-size: 80% auto;
  }
}

@media only screen and (max-device-width: 1024px) {
    #portfolio-container {

    }
}

