
body {
    margin:0;
     /*width: 100%;*/
    height: 100%;
    padding:0px;
}

.navbar-links{
  float:right;
  text-align:right;
}

.home-container {
  /*margin:0;*/
  height: 100%;
  /*smin-height:50%;*/
  /*max-height:100%;*/
  /*background-image: url("https://farm5.staticflickr.com/4391/35548826983_8bebf21a4c_k.jpg");*/
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://farm5.staticflickr.com/4391/35548826983_8bebf21a4c_k.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://farm5.staticflickr.com/4391/35548826983_8bebf21a4c_k.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.links-icons{
 /* background-color:rgba(255, 255, 255, 0.7);*/
  color: black;
  border-radius: 10px;
  padding: 5px;
  margin: 5px 10px 5px 3px;
}

.links-icons2{
  color:black;
  border-radius: 10px;
  padding: 5px;
  margin: 5px 10px 5px 3px;
}

.title{
  padding-top:200px !important;
  text-shadow: 2px 2px 3px #000;
  color: rgba(255, 255, 255, 0.7);
}

.btn-lg {
  background-color:rgb(214, 214, 215);
  padding: 5px;
  margin: 5px 10px 5px 3px;
}

.btn-md {
  background-color:rgb(214, 214, 215);
  padding: 5px;
  margin: 5px 10px 5px 3px;
}



#about-container {
/*  margin:0;*/
  height: 100%;
  /*max-height:100%;*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-image: url("https://farm5.staticflickr.com/4395/36360717265_96c53976aa_k.jpg");*/
  /*background-image: url("https://farm9.staticflickr.com/8868/28388332840_cf375f3959_k.jpg");*/
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://farm9.staticflickr.com/8868/28388332840_cf375f3959_k.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://farm9.staticflickr.com/8868/28388332840_cf375f3959_k.jpg");
  /*padding:10px;*/
}

.me {
  float:right;
  border-radius:50%;
  padding-top:150px;
}
/*.about{
  padding:250px 0 0 50px;
}*/

#portfolio-container{
  margin:0;
  height: 100%;
  /*max-height:100%;*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: black;
}

.portfolio-header{
  padding-top:50px;
  margin: 0;
  text-shadow: 2px 2px 3px #000;
  color:white;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding:0 10px 0 10px;
 }

.thumb {
  margin-bottom: 10px;
  padding:10px 0 0 10px;
}
.thumbnail-title{
  font-color:black;
  font-weight:bold;
  padding:10px;
  background-color: gray;
  height: 50px;
  width: 292px;
  margin: auto;
  font-size: 20px;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline-container{
  padding:0px;
  background-image: url("../images/shattered-island.gif");
  margin:0;
  /*height:100%;*/
}

#timeline h1{
  color: #0E7C7B;
  font-family: 'Roboto', sans-serif;
  font-size:4.75em;
  text-align: center;
  padding: 15px;
}

#timeline ul {
  /*background: #40E0D0;*/
  padding: 10px 0;
}

/* vertical line */
#timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 25px;
  background: #fff;
  color: white;
  font-weight: bold;
}

.star {
  position: absolute;
  left: -16px;
  color:#0E7C7B;
}

/* li boxes */
#timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding:15px;
  background-color:#0E7C7B;
  border-radius:5%;
}

/* padding between div boxes and timeline */
#timeline ul li:nth-child(odd) div {
  left: 75px;
}

/* padding between div boxes and timeline */
#timeline ul li:nth-child(even) div {
  left: -470px;
}

/* even time boxes */
#timeline ul li:nth-child(even) div time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  padding: 10px;
  border: solid white;
  width: 150px;
  float:right;
}

#timeline ul li:nth-child(even) h4 {
  padding-top: 10px;
}

#timeline ul li:nth-child(odd) div h3 {
  /*padding-left:250px;*/
  float:right;
}

/* odd time boxes */
#timeline ul li:nth-child(odd) div time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  padding: 10px;
  border: solid white;
  width: 150px;
  float:left;
}


/* footer start */
.footer {
  padding: 20px;
}
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */

     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
.social {
  color:#0E7C7B;
}

 .social-instagram {
     background-color: #0E7C7B;
     color: white;
     border-radius:30%;
}



/* footer end */

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #F45B69;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}
*/

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent white transparent transparent;
  }
}

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

